# Análise exploratória de dados

In [14]:
import pandas as pd
import seaborn as sns
import os

## 1. Descrição dos dados

In [22]:
df = pd.read_csv("../data/raw/diamonds.csv")

In [20]:
df = sns.load_dataset("diamonds")
df.to_csv("../data/raw/diamonds.csv", index=False)

In [28]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

In [4]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [31]:
dicionario = pd.DataFrame(
    # nominal, ordinal  //  discresta  continua
[{
   "variavel":"carat",
   "descrição":"unidade de peso para diamantes(ct)",
   "tipo":"quantitativa",
   "subtipo":"contínua"
}, {
   "variavel":"cut",
   "descrição":"classificação à respeito da qualidade de lapidação feita, podendo ser Fair, Good, Very Good, Premium, Ideal",
   "tipo":"qualitativa",
   "subtipo":"nominal"
},{
   "variavel":"color",
   "descrição":"Classificação na escala de cores padrão(D-Z)",
   "tipo":"qualitativa",
   "subtipo":"nominal"
},{
   "variavel":"clarity",
   "descrição":"Pureza do diamante, referente a presença, visibilidade, número e tamanho de inclusões em um diamante",
   "tipo":"qualitativa",
   "subtipo":"nominal"
},{
   "variavel":"depth",
   "descrição":"Profundidade total(parte superior até ponta inferior) dividida pelo diâmetro médio do diamante, em porcentagem",
   "tipo":"quantitativa",
   "subtipo":"contínua"
},{
   "variavel":"table",
   "descrição":"Parte superior do diamante dividido pelo diâmetro médio do diamante, em porcentagem",
   "tipo":"quantitativa",
   "subtipo":"contínua"
},{
   "variavel":"price",
   "descrição":"Preço do diamante em dólares($)",
   "tipo":"quantitativa",
   "subtipo":"contínua"
},{
   "variavel":"x",
   "descrição":"Comprimento em milimetros(mm)",
   "tipo":"quantitativa",
   "subtipo":"contínua"
},{
   "variavel":"y",
   "descrição":"Largura em milimetros(mm)",
   "tipo":"quantitativa",
   "subtipo":"contínua"
},{
   "variavel":"z",
   "descrição":"Altura em milimetros(mm)",
   "tipo":"quantitativa",
   "subtipo":"contínua"
}])
dicionario

,variavel,descrição,tipo,subtipo
0,carat,unidade de peso para diamantes(ct),quantitativa,contínua
1,cut,classificação à respeito da qualidade de lapid...,qualitativa,nominal
2,color,Classificação na escala de cores padrão(D-Z),qualitativa,nominal
3,clarity,"Pureza do diamante, referente a presença, visi...",qualitativa,nominal
4,depth,Profundidade total(parte superior até ponta in...,quantitativa,contínua
5,table,Parte superior do diamante dividido pelo diâme...,quantitativa,contínua
6,price,Preço do diamante em dólares($),quantitativa,contínua
7,x,Comprimento em milimetros(mm),quantitativa,contínua
8,y,Largura em milimetros(mm),quantitativa,contínua
9,z,Altura em milimetros(mm),quantitativa,contínua

In [32]:
dicionario.to_csv("../data/external/dictionary.csv", index=False)

## 2. Perguntas de partida e hipóteses

## 3. Insights